<body>
  <mat-toolbar color="accent">
    <span>Health Path - your local natural health centre</span>
  </mat-toolbar>
  <mat-sidenav-container class="all-content">
    <mat-sidenav [opened]="true" mode="side" role="navigation">
      <mat-nav-list>
        <mat-list-item routerLink="/newsletter">Newsletter</mat-list-item>
        <mat-list-item routerLink="/class-schedule">Class Schedule</mat-list-item>
        <mat-list-item routerLink="/store-catalog">Store Catalog</mat-list-item>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-container class="main-content">
      <router-outlet></router-outlet>
    </mat-sidenav-container>
  </mat-sidenav-container>
</body>
